### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [3]:
!bq --location=US mk --dataset $dataset_id

Dataset 'acquired-device-397221:school_enrollments' successfully created.

#### 2. create and populate BQ tables:
##### Note: the load commands will run for a few minutes. Please be patient and wait for them to finish before moving onto step 3.

In [4]:
import os

In [5]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r4bf3bcd1e6241ce3_0000018ad34260c3_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_r8326fdf2df4b31e_0000018ad342752c_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_r420a9bbe6b4cd9c2_0000018ad342927d_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_rac9b2c5d4829df5_0000018ad342b3af_1 ... (9s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_r68f6cec2fae3e43a_0000018ad342e53e_1 ... (4s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r39649b49d652b154_0000018ad34301cb_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_r331045607eb03a81_0000018ad3431642_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r408ac7a9f09c333a_0000018ad3433293_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r449393d774296c81_0000018ad3434e9e_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r47d0c223bd382156_0000018ad34362c4_1 ... (6s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r7e3ecc18fdba1367_0000018ad343879d_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_r7237c7299e0cc9ea_0000018ad3439b73_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r60335822350fdaca_0000018ad343b028_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job 'acquired-
device-397221:bqjob_r60335822350fdaca_0000018ad343b028_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r4b11e7e3b5387fd8_0000018ad343bf5c_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r71d663d65a025dfa_0000018ad343d79a_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r58b81e53a6360233_0000018ad343ebb6_1 ... (4s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r68df35889779abd5_0000018ad3440887_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r409268c2b55685e3_0000018ad344252c_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_ra47dffa78b6667d_0000018ad34438b3_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r3355ef7eb2a80d0f_0000018ad3445480_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r449c406592f693d6_0000018ad3446848_1 ... (4s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r6018d451b80e9858_0000018ad34483ec_1 ... (2s) Current status: DONE

#### 3. Open the BQ UI and explore the schemas for the tables in the `school_enrollments` dataset. Also, preview the tables in the UI to see some sample data.

#### 4. Find school enrollments by school name, grade level, and year for Texas:

In [6]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

##### Note: Since the `total` column in the table is of type STRING, we needed to cast it to an INTEGER type before we can apply the `sum` function. Please see documentation on BQ's string functions, which include `cast()` and `replace()`: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

#### 5. Find school enrollments by school name, grade level, and year for Austin:

In [7]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### Project 4 marker. Add your work for Project 4 below this cell.

##### Get the average number of white-colored people for each district level in Arkansas for levels with an average greater than 10. Don't include schools without a district level (empty), and order by the average white ascending.

In [1]:
%%bigquery
select ccd_district_lvl, avg(white) as avg_white
from school_enrollments.ar
where length(ccd_district_lvl) > 0
group by ccd_district_lvl
having avg_white > 10
order by avg_white;

Query is running:   0%|          |

Downloading:   0%|          |

  ccd_district_lvl   avg_white
0        Secondary   11.000000
1             High   18.390625
2            Other  146.243219

##### Select the male-to-female ratio from all California school state types where the ratio is less than 1 (more females than males), and sort by the ratio ascending.

In [2]:
%%bigquery
select school_state_type, sum(male) / sum(female) as male_female_ratio
from school_enrollments.ca
group by school_state_type
having male_female_ratio < 1
order by male_female_ratio;

Query is running:   0%|          |

Downloading:   0%|          |

               school_state_type  male_female_ratio
0            Opportunity Schools           0.793942
1  Alternative Schools of Choice           0.935254
2          K-12 Schools (Public)           0.971461

##### Get the total enrollment for each grade in all California schools, sorting by the total enrollment

In [3]:
%%bigquery
select grade, sum(total) as total_enrollment
from school_enrollments.ca
where admin_level = 'school'
group by grade
order by total_enrollment;

Query is running:   0%|          |

Downloading:   0%|          |

         grade  total_enrollment
0      grade_1          871084.0
1      grade_2          880555.0
2      grade_3          895524.0
3      grade_5          899056.0
4      grade_4          904464.0
5      grade_6          907407.0
6      grade_7          932250.0
7      grade_8          956226.0
8     grade_11          960023.0
9     grade_12          978425.0
10  combined_K          985182.0
11    grade_10          993279.0
12     grade_9         1002386.0
13  k_12_total        12165861.0

##### Count the number of schools in each county in Pennsylvania. Only get the counties that have greater than 4000 entries. List the greater counts first.

In [4]:
%%bigquery
select county, count(*) as school_count
from school_enrollments.pa
group by county
having school_count > 4000
order by school_count desc;

Query is running:   0%|          |

Downloading:   0%|          |

         county  school_count
0  Philadelphia         12225
1     Allegheny         11685
2    Montgomery          6180
3         Bucks          4650
4          York          4470
5     Lancaster          4425
6       Chester          4140
7         Berks          4125
8      Delaware          4110

##### Get the maximum multiracial number from each district in Nevada that starts with the letter L. Put the larger numbers first.

In [5]:
%%bigquery
select district, max(multiracial) as mr
from school_enrollments.nv
group by district
having district like 'L%'
order by mr desc;

Query is running:   0%|          |

Downloading:   0%|          |

                       district     mr
0     Legacy Traditional School  518.0
1                          Lyon  497.0
2                        Lander   35.0
3                       Lincoln   26.0
4  Leadership Academy of Nevada   24.0
5               Learning Bridge   14.0

##### Join the CA and IN tables on the grade level after grouping them by grade level and calculating the male to female ratios. Then, compare the male to female ratios of CA and IN order by the distance of the ratios from each other (how close the male to female ratio is across grade levels in CA and IN). Exclude the entries where this distance is greater than or equal to 0.005.

In [12]:
%%bigquery
select ca_mf_ratio.grade, ca_mf_ratio.mf_ratio as mf_ratio_ca, in_mf_ratio.mf_ratio as mf_ratio_in
from (
  select grade, sum(male) / sum(female) as mf_ratio
  from school_enrollments.ca group by grade
) as ca_mf_ratio
inner join (
  select grade, sum(male) / sum(female) as mf_ratio
  from school_enrollments.in group by grade
) as in_mf_ratio
on ca_mf_ratio.grade = in_mf_ratio.grade
where abs(ca_mf_ratio.mf_ratio - in_mf_ratio.mf_ratio) < 0.005
order by abs(mf_ratio_ca - mf_ratio_in);

Query is running:   0%|          |

Downloading:   0%|          |

     grade  mf_ratio_ca  mf_ratio_in
0  grade_5     1.055815     1.056116
1  grade_8     1.057512     1.058923
2  grade_4     1.051930     1.054492
3  grade_3     1.053229     1.057306
4  grade_7     1.062833     1.058502

##### Get the white-to-black ratio for each admin level in both Utah and Oklahoma. Only extract the ratios for school entries and order by the difference in ratios for corresponding admin levels, putting larger differences first.

In [14]:
%%bigquery
select ut_wb_ratio.admin_level, ut_wb_ratio.wb_ratio as wb_ratio_ut, ok_wb_ratio.wb_ratio as wb_ratio_ok
from (
  select admin_level, sum(white) / sum(black) as wb_ratio
  from school_enrollments.ut group by admin_level
) as ut_wb_ratio
inner join (
  select admin_level, sum(white) / sum(black) as wb_ratio
  from school_enrollments.ok group by admin_level
) as ok_wb_ratio
on ut_wb_ratio.admin_level = ok_wb_ratio.admin_level
where ut_wb_ratio.admin_level = 'school'
order by abs(wb_ratio_ut - wb_ratio_ok) desc;

Query is running:   0%|          |

Downloading:   0%|          |

  admin_level  wb_ratio_ut  wb_ratio_ok
0      school    52.529065     5.696295

##### Proportion of disabled people in charter schools vs. non-charter schools

In [16]:
%%bigquery
select ccd_charter_school, sum(disability) / sum(total) as proportion_disabled
from school_enrollments.ut
group by ccd_charter_school
having ccd_charter_school is not null
order by proportion_disabled;

Query is running:   0%|          |

Downloading:   0%|          |

   ccd_charter_school  proportion_disabled
0               False             0.058171
1                True             0.069149